<module>
	<rawname>cxpanel</rawname>
	<name>iSymphonyV3</name>
	<version>13.0.4.1</version>
	<type>setup</type>
	<category>Admin</category>
	<description>
		This module automatically configures the operator panel to reflect the PBX configuration.
	</description>
	<menuitems>
		<cxpanel>iSymphonyV3</cxpanel>
		<cxpanel_menu category="Reports" requires_auth="false" target="_blank" access="all">iSymphonyV3 Panel</cxpanel_menu>
	</menuitems>
	<depends>
		<module>manager</module>
		<module>userman</module>
		<version>13.0.121</version>
	</depends>
	<changelog>
		*13.0.4.1* FREEPBX-12573 PBXact error on adding new extension
		*13.0.4* FREEPBX-12550 Allow userman to create iSymphony Administrators as well as users
		*13.0.3.3* FREEPBX-13339 unable to set setting on non-usermanager mode
		*13.0.3.2* FREEPBX-13307 touch the log if it does not exist
		*13.0.3.1* FREEPBX-13307 attempt to set permissions on main.log
		*13.0.3* Table fixes
		*13.0.2* Check to see if users are previously installed
		*13.0.1* New install methods
	</changelog>
	<info>http://www.getisymphony.com</info>
	<publisher>i9 Technologies</publisher>
	<license>GPLv3</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<supported>
		<version>13.0</version>
	</supported>
	<hooks>
		<userman namespace="FreePBX\modules" class="Userman">
			<method namespace="FreePBX\Modules" class="Cxpanel" callingMethod="addUser">usermanAddUser</method>
			<method namespace="FreePBX\Modules" class="Cxpanel" callingMethod="updateUser">usermanUpdateUser</method>
			<method namespace="FreePBX\Modules" class="Cxpanel" callingMethod="addGroup">usermanAddGroup</method>
			<method namespace="FreePBX\Modules" class="Cxpanel" callingMethod="updateGroup">usermanUpdateGroup</method>
			<method namespace="FreePBX\Modules" class="Cxpanel" callingMethod="sendWelcomeEmail">usermanSendEmail</method>
			<method namespace="FreePBX\modules" class="Cxpanel" callingMethod="myShowPage">usermanShowPage</method>
		</userman>
		<framework class="Chown" namespace="FreePBX\Console\Command">
			<method callingMethod="fwcChownFiles" namespace="FreePBX\modules" class="Cxpanel">chownFreepbx</method>
		</framework>
	</hooks>
	<repo>standard</repo>
</module>
